@page "/"
@using Sitko.Blazor.CKEditor.Bundle

<h1>CKEditor</h1>
<EditForm Model="ModelInstance">
    <h3>Default editor</h3>
    <CKEditor @bind-Value="@ModelInstance.Html"/>
    <br/>
    <h3>Customized editor</h3>
    <CKEditor
        @bind-Value="@ModelInstance.Html"
        Placeholder="Test placeholder"
        Class="test-class"
        Style="background:red"/>
    <br/>
    <h3>Editor with html mode</h3>
    <CKEditor Config="_config" @bind-Value="@ModelInstance.Html" AllowHtmlMode="false"/>
</EditForm>
<br/>
<h3>Model value</h3>
<pre>
    @ModelInstance.Html
</pre>

@code{
    public Model ModelInstance { get; set; } = new Model();

    public Index()
    {
        _config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
    }


    public class Model
    {
        public string Html { get; set; } = "Hello, world!";
    }

    private readonly CKEditorConfig _config;
}
