@inherits BaseCKEditorComponent
<div class="blazor-ck-editor @Class" id="@Id" style="@Style">
    <textarea
        Placeholder="@Placeholder"
        style="display: none"
        @ref="EditorRef">
@EditorValue
</textarea>
</div>
