@inherits BaseCKEditorComponent
<div class="blazor-ck-editor @Class" style="@Style">
    <textarea 
        Placeholder="@Placeholder" 
        style="display: none"
        @ref="EditorRef" 
        @bind="CurrentValue">
    </textarea>
</div>
