name: CI

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    build:
        runs-on: ubuntu-latest
        container: ghcr.io/sitkoru/actions-container
        env:
            PROJECT: Sitko.Blazor.CKEditor
            BUNDLE_PROJECT: Sitko.Blazor.CKEditor.Bundle
        steps:
            -   name: Checkout code
                uses: actions/checkout@v2.3.4
            -   name: Install node.js
                uses: actions/setup-node@v2.2.0
                with:
                    node-version: '15'
            -   name: Install .NET Core 3.1
                uses: actions/setup-dotnet@v1.8.1
                with:
                    dotnet-version: '3.1.x'
            -   name: Install .NET 5.0
                uses: actions/setup-dotnet@v1.8.1
                with:
                    dotnet-version: '5.0.x'
            -   name: Build main js
                working-directory: src/${{ env.PROJECT }}/Web
                shell: bash
                run: |
                    npm ci
                    npm run prod
            -   name: Build bundle js
                working-directory: src/${{ env.BUNDLE_PROJECT }}/Web
                shell: bash
                run: |
                    npm ci
                    npm run prod
            -   name: Create main package
                run: dotnet pack -c Release src/${{ env.PROJECT}}
            -   name: Create bundle package
                run: dotnet pack -c Release src/${{ env.BUNDLE_PROJECT}}
